@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @crust;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
  color: @text;
}

#workspaces button:hover {
  color: @base;
  background-color: @mauve;
}

#workspaces button.active {
  background-color: @base;
  color: @mauve;
}

#workspaces button.urgent {
  background-color: @base;
  color: @red;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
}

#mpris.playing {
  color: @green;
}

#mpris.paused {
  color: @overlay2;
}

#custom-sep {
  padding: 0px;
  color: @surface2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @mauve;
}

#memory {
  color: @pink;
}

#battery {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
  color: @text;
}

#battery.charging {
  color: @yellow;
}

#battery.warning {
  color: @red;
}

#battery.critical {
  color: @red;
}

#clock {
  color: @lavender;
}

#clock.simpleclock {
  color: @mauve;
}

#window {
  color: @text;
}

#pulseaudio {
  color: @mauve;
}

#pulseaudio.muted {
  color: @subtext0;
}

#custom-logo {
  color: @mauve;
}

#custom-power {
  color: @red;
}

tooltip {
  background-color: @mantle;
  border: 2px solid @mauve;
}
